<%-include('./menu/header')%>
    <center>
        <h3>Catagory</h3>
    </center>
    <hr>
    <center>
        <h4>Add Catagory</h4>
    </center>
    <form role="form" action="/admin/catagory/addCatagory" method="POST">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6">
                <label>Catagory Name :</label>
                <input class="form-control" type="text" name="catagory" placeholder="Enter Catagory Name" required>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
            </div>
        </div>
        <br>
        <div align="center">
            <input type="submit" class="btn btn-info" value="submit">
            <input type="reset" class="btn btn-info" value="clear">
        </div>
    </form><br>
<hr>
<center>
        <h4>View Catagory</h4>
    </center>
<%if(catagoryData!=''){%>
    <table class="table table-hover viewTable table-responsive" style="width:100%">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Catagory Name</th>
                <th scope="col">Status</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <%i=1%>
                <%catagoryData.forEach(function(catagory) {%>
                    <tr>
                        <th scope="row">
                            <%=i++%>
                        </th>
                        <td>
                            <%=catagory.catagory%>
                        </td>
                        <td>
                            <%if(catagory.status=='1'){%> Approved
                                <%}else{%> DisApproved
                                    <%}%>
                        </td>
                        <td>
                            <a href="/admin/catagory/<%=catagory._id%>" class="btn btn-primary btn-sm">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                    <%})%>
        </tbody>
    </table>
    <%}else{%>
        <blockquote>
            <p>No Catagory till now added!!</p>
        </blockquote>
        <%}%>

    <%-include('./menu/footer')%>